.footer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    --ion-background-color: blueviolet;
    text-align: center;
  }
  
  ion-input {
    size: 12%;
  }
  .linea.orizzontale {
    border-bottom: 3px solid #d2c9c9;
  }
  .bottoni {
    --ion-color-primary: #19356e;
    --ion-color-primary-rgb: 25, 53, 110;
    --ion-color-primary-contrast: #ffffff;
    --ion-color-primary-contrast-rgb: 255, 255, 255;
    --ion-color-primary-shade: #162f61;
    --ion-color-primary-tint: #30497d;
   
  }
  .tabella {
    margin-top: 1%;
    width: 75%;
    position: relative;
    left: 12.5%;
    height: 5%;
  }
  .input{
  
    padding-left: 10%;
  
  
  }
  .td {
    background-color: #f5f5f5;
  }
  .td:hover {
      background-color: #dedede;
  }