<ion-content>
<form [formGroup]="formLogin">
  <ion-grid>
    <ion-row>
      <ion-col class="ion-text-center" style="padding:100px;">
        <img src="assets\icon\logo_devskill@2x.png">
        <hr>
        <h3> Benvenuti </h3>
      </ion-col>
    </ion-row>


    <ion-row>
      <ion-col></ion-col>
      <ion-col>
        <ion-item>
          <ion-label for="uname" position="floating">Email</ion-label>
          <ion-input placeholder="Inserisci e-mail" type="email" id="email" formControlName="email" [(ngModel)]="email" (keyup)="eventoBottone()" (keyup.enter)="eventoDiClick()"> 
          </ion-input>
          <ion-icon style="color: #0d2f60;" slot="end" name="mail-sharp"></ion-icon>
        </ion-item>
      </ion-col>
      <ion-col></ion-col>
    </ion-row>


    <ion-row>
      <ion-col></ion-col>
      <ion-col>
        <ion-item>
          <ion-label for="pass" position="floating">Password</ion-label>
          <ion-input id="password" [type]="tipo" placeholder="Inserisci password" formControlName="password" [(ngModel)]="password" (keyup)="eventoBottone()" (keyup.enter)="eventoDiClick()"></ion-input>
          <ion-icon style="color: #0d2f60;" class="password" (click)="cambioTipo()" slot="end" [icon]="eye"></ion-icon>
        </ion-item>
      </ion-col>
      <ion-col></ion-col>
    </ion-row>


    <ion-row>
      <ion-col></ion-col>
      <ion-col>
        <div class="ion-float-right">
          <ion-button class="bottoni" [disabled]="disabilita" (click)="loginServer()"> 
            LOGIN
          </ion-button>
        </div>
      </ion-col>
      <ion-col></ion-col>
    </ion-row>

  </ion-grid>

  <ion-footer class="footer">
    <ion-toolbar>
      <ion-title  style="color:rgb(255, 255, 255)">DevSkill School 2022 - Fumetteria Orange Team</ion-title>
    </ion-toolbar>
  </ion-footer>

</form>
</ion-content>