.my-custom-menu {
  --width: 27%;
  --ion-toolbar-background: rgb(8, 30, 68);
  font-family: "fontMenu";
  --ion-item-background: rgb(8, 30, 68);
  --ion-item-color:white;
  
  }

ion-accordion.accordion-expanding ion-item[slot="header"],
ion-accordion.accordion-expanded ion-item[slot="header"]{
  --background:rgb(27, 42, 90);
}
ion-accordion.accordion-collapsed ion-item[slot="header"],
ion-accordion.accordion-collapsing ion-item[slot="header"]{
  --background:rgb(8, 30, 68);
}


#riga {
  border: 1px solid;
  border-style: solid;
  border-color: white;
}

.color{
  --ion-item-background: grey;

}

.colore{

  --ion-background-color: rgb(8, 30, 68);
}

ion-icon{
  color: white;
}