<ion-app>
  <ion-menu menuId="main-menu" content-id="main" class="my-custom-menu" >
      <ion-header>
        <ion-toolbar>
          <ion-list class="ion-text-center padding">
            <img src="assets/icon/logo_devskill.png">
          </ion-list>
        </ion-toolbar>
      </ion-header>
      <ion-content class="colore">
        <ion-item button [routerLink]="['/home']">
          <ion-label > Home </ion-label>
          <ion-icon name="home-sharp" slot="start"></ion-icon>
        </ion-item>
    
        <ion-accordion-group>
          <ion-accordion>
            <ion-item slot="header">
              Autore
              <ion-icon name="pencil-sharp" slot="start"></ion-icon>
            </ion-item>
            
            <ion-list slot="content" class="color">
              <ion-item button [routerLink]="['/lista-autori']">Lista Autore</ion-item>
              <ion-item button [routerLink]="['/crea-autori']">Crea Autore</ion-item>
            </ion-list>
          </ion-accordion>
    
          <ion-accordion>
            <ion-item slot="header"><ion-icon name="bookmarks-sharp" slot="start"></ion-icon>Categoria</ion-item>
            
            <ion-list slot="content" class="color">
              <ion-item button [routerLink]="['/lista-categorie']">Lista Categorie</ion-item>
              <ion-item button [routerLink]="['/crea-categoria']">Crea Categoria</ion-item>
            </ion-list>
          </ion-accordion>
    
          <ion-accordion>
            <ion-item slot="header"><ion-icon name="book-sharp" slot="start"></ion-icon>Fumetto</ion-item>
            
            <ion-list slot="content" class="color">
              <ion-item button [routerLink]="['/lista-fumetti']">Lista Fumetti</ion-item>
              <ion-item button [routerLink]="['/crea-fumetto']">Crea Fumetto</ion-item>
            </ion-list>
          </ion-accordion>
    
          <ion-accordion>
            <ion-item slot="header"><ion-icon name="person-sharp" slot="start"></ion-icon>Utente</ion-item>
            
            <ion-list slot="content" class="color">
              <ion-item button [routerLink]="['/lista-utenti']" >Lista Utenti</ion-item>
              <ion-item button [routerLink]="['/crea-utente']">Crea Utente</ion-item>
            </ion-list>
          </ion-accordion>
        </ion-accordion-group>
    
        <ion-item class="padding">
          <ion-grid>
            <ion-row>
              <ion-col>
                <ion-label id="riga"></ion-label>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col>
                <p>Versione</p>
              </ion-col>
              <ion-col>
                <p class="ion-text-end">0.0.1</p>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-item>
      </ion-content>
    </ion-menu>
    
 
  <ion-router-outlet id="main"></ion-router-outlet>
</ion-app>