.sopra {
filter: blur(4px);

}
.pop {
z-index: 5;

position: relative;
}
.mouseover {
  position: relative;
}
.testo {
  text-align: left;
  text-transform: uppercase;
  
}
.footer {
  position: relative;
  bottom: 0;
  left: 0;
  width: 100%;
  --ion-background-color: blueviolet;
  text-align: center;
}